body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background-color: #2C3333; /* Dark Blueish Gray */
    color: #E7F6F2; /* Soft Orange */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Full height */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    max-width: 100%;
}

.text-container h1 {
    font-size: 2.5em; 
    margin-bottom: 0.5em; 
}

.text-container h2 {
    font-size: 1.5em; 
    margin-bottom: 0.25em; 
}

.text-container p {
    font-size: 1em; 
    margin-bottom: 1em; 
}

.main-content {
    margin-left: 450px;
    overflow-y: auto;
    min-height: 150vh;
    background-color: #c0d9da;
}

section {
    padding: 20px;
    height: 100vh;
    border-bottom: 1px solid #ccc; 
}

.nav-item {
    color: #ececec; /* Light Gray */
    padding: 10px;
    cursor: pointer;
}

.nav-item.active {
    color: #f1d381; /* Redish */
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-link {
    color: #ececec;
    text-decoration: none;
    font-size: 24px; 
    margin: 0 10px; /* Spacing between icons */
}

.social-link:hover {
    color: #f1d381; /* Change color on hover */
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}


/* Style for the About section */
#about {
    background-color: #f7f7f7; /* Light background color for the section */
    padding: 40px; /* Ample padding for readability */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Centering the section with some margin */
    max-width: 80%; /* Limiting the width for better line lengths */
}

/* Style for paragraphs within the About section */
#about p {
    padding: 10px;
    font-size: 1.1em; /* Slightly larger font size for readability */
    line-height: 1.6; /* Increased line height for better readability */
    margin-bottom: 40px; /* Space between paragraphs */
    color: #000000; /* Darker text color for contrast */
    text-align: justify; /* Justify text for a clean look */
}

/* First paragraph specific style for an introductory statement */
#about p:first-of-type {
    font-weight: bold; /* Make the first paragraph bold */
    color: #000000; /* Even darker color for emphasis */
    font-size: 1.2em; /* Slightly larger font size */
    text-align: left; /* Aligning the first paragraph to the left */
}

/* Last paragraph specific style for a concluding statement */
#about p:last-of-type {
    font-style: italic; /* Italicize the last paragraph */
    text-align: center; 
}

#publications {
    background-color: #f7f7f7; /* Light background color for the section */
    padding: 40px; /* Ample padding for readability */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Centering the section with some margin */
    max-width: 80%; /* Limiting the width for better line lengths */
    font-family: 'Roboto Mono', monospace;
    
}

/* Style for the list of publications */
#publications ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    font-size: 1.2em;
}

#publications li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* A line between entries */
    margin-bottom: 10px;
}

#publications li .conference {
    display: inline-block;; /* Block level element */
    color: #52734D; /* Dark grey color */
    border-radius: 5px;
    font-weight: bold;
    margin: 5px 0;
}

#publications li .paper-title {
    text-decoration: none; /* No underline */
    font-style: italic; /* Italicize the title */
}

#publications li .me {
    text-decoration: none; /* No underline */
    font-weight: bold; /* Italicize the title */
}
#publications li .authors {
    color: #000000; /* Dark grey color */
}

#teaching {
    background-color: #f7f7f7; /* Light background color for the section */
    padding: 40px; /* Ample padding for readability */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Centering the section with some margin */
    max-width: 80%; /* Limiting the width for better line lengths */
}

#teaching ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}
#teaching li  {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* A line between entries */
    margin-bottom: 10px;
}

#teaching li .course-title {
    text-decoration: none; /* No underline */
    font-style: italic; /* Italicize the title */
    font-weight: bold;
    font-size: 1.1em;
    color: #4a90e2;
}

#awards {
    background-color: #f7f7f7; /* Light background color for the section */
    padding: 40px; /* Ample padding for readability */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Centering the section with some margin */
    max-width: 80%; /* Limiting the width for better line lengths */
}

#awards ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

#awards li .awards-title {
    text-decoration: none; /* No underline */
    font-style: italic; /* Italicize the title */
    font-weight: bold;
    font-size: 1.1em;
    color: #4a90e2;
}

#awards li  {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* A line between entries */
    margin-bottom: 10px;
}

#news {
    background-color: #f7f7f7; /* Light background color for the section */
    padding: 40px; /* Ample padding for readability */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Centering the section with some margin */
    max-width: 80%; /* Limiting the width for better line lengths */
}

#news ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

#news li .news-title {
    text-decoration: none; /* No underline */
    font-style: italic; /* Italicize the title */
    font-weight: bold;
    font-size: 1.1em;
    color: #4a90e2;
}

#news li  {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* A line between entries */
    margin-bottom: 10px;
}

.content-section h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #333; 
    text-transform: uppercase; 
    letter-spacing: 2px; /* Spacing out letters for a sophisticated touch */
    border-bottom: 4px solid #52734D; 
    display: inline-block; /* Allows the border-bottom to fit the content width */
    padding-bottom: 5px; /* Space between text and border */
    margin-bottom: 20px; /* Space between the heading and the content below */
    position: relative; 
}

.content-section h2::after {
    content: '';
    position: absolute;
    bottom: -4px; /* Positioning just below the bottom border */
    left: 0;
    width: 75px; /* Fixed width for a small decorative underline */
    height: 4px; /* Thickness of the decorative line */
    background-color: #52734D; /* A contrasting color for the decorative element */
    border-radius: 1px; /* Slight rounding of the corners */
}


.profile-picture-container {
    display: flex;
    justify-content: center; /* Center the image in the container */
    padding-left: 70px;

}

.profile-picture {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    border: 3px solid #c6b353; 
    object-fit: cover; /
}

/* Responsive adjustments */
@media (max-width: 990px) {
    #about p {
        font-size: 1em; /* Slightly smaller font size for very small screens */
        padding: 0px; /* Reduce padding */
        margin-bottom: 10px; /* Reduce space between paragraphs */
        text-align: left; /* Align text to the left instead of justifying */
    }
}

@media (max-width: 870px) {
    #about p {
        font-size: 0.8em; /* Slightly smaller font size for very small screens */
        padding: 0px; /* Reduce padding */
        margin-bottom: 10px; /* Reduce space between paragraphs */
        text-align: left; /* Align text to the left instead of justifying */
    }
}
@media (max-width: 800px) {
    #about p {
        font-size: 0.7em; /* Slightly smaller font size for very small screens */
        padding: 0px; /* Reduce padding */
        margin-bottom: 10px; /* Reduce space between paragraphs */
        text-align: left; /* Align text to the left instead of justifying */
    }
}

/* Responsive design for the sidebar */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sidebar takes full width */
        position: relative; /* Position relative to the layout flow */
        padding-bottom: 20px; /* Add some space for the collapsed nav */
    }

    .main-content {
        margin-left: 0;
        overflow-y: auto;
        min-height: auto; /* Let the content define the height */
        background-color: #f0f0f0;
        padding: 10px; /* Add some padding for readability */
    }

    .content-section {
        min-height: auto; /* Allow sections to grow as tall as the content requires */
        padding: 20px; /* Adjust padding for mobile */
        height: auto; /* Important: override any fixed height */
    }

    /* Adjustments for nav items to make them more touch-friendly */
    .nav-item {
        padding: 15px; /* Larger touch targets for navigation items */
    }

    /* Stack profile picture and text in the sidebar */
    .text-container,
    .profile-picture-container {
        flex-direction: column; /* Stack children vertically */
        align-items: center; /* Center align the stacked items */
        padding: 0px;
    }

    /* Responsive image styling to prevent overflow */
    .profile-picture {
        width: 120px; /* Adjust image size for mobile */
        height: 120px; /* Adjust image size for mobile */
        margin: 0 auto 20px; /* Center image and add margin below */
    }
    
    /* Ensure h1 text fits on smaller screens */
    .text-container h1 {
        font-size: 1.8em; /* Smaller font size for mobile */
        word-break: break-word; /* Prevents text from overflowing its container */
    }

    /* Adjust h2 size for smaller screens */
    .text-container h2 {
        font-size: 1.2em;
    }
    #about p {
        padding: 0px;
        font-size: 0.7em; /* Slightly larger font size for readability */
        line-height: 1.6; /* Increased line height for better readability */
        margin-bottom: 0px; /* Space between paragraphs */
        color: #395B64; /* Darker text color for contrast */
        text-align: justify; /* Justify text for a clean look */
    }
}

@media (max-width: 633px) {
    .main-content {
        padding: 10px; /* Ensure padding doesn't cause overflow */
    }

    .content-section {
        /* Ensure any fixed widths are overridden */
        width: auto; /* Or width: 100%; */
        max-width: 100%; /* Make sure content doesn't exceed the viewport width */
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }

    /* Other elements within .main-content */
    .some-inner-element {
        width: 100%; /* Example of making an inner element flexible */
        /* Other responsive adjustments as needed */
    }

    /* Adjust image sizes or other content as needed */
    img {
        max-width: 100%; /* Make images responsive */
        height: auto; /* Maintain aspect ratio */
    }

    /* Additional adjustments for text size, etc. */
    h1, h2, p {
        /* Adjust font sizes for smaller screens if necessary */
        font-size: smaller; /* Or specific size in em, rem, or px */
    }
    #about p {
        padding: 0px;
        font-size: 0.7em; /* Slightly larger font size for readability */
        line-height: 1.6; /* Increased line height for better readability */
        margin-bottom: 0px; /* Space between paragraphs */
        color: #395B64; /* Darker text color for contrast */
        text-align: justify; /* Justify text for a clean look */
    }

}

